---
import Pagination from '@/components/ui/Pagination.astro'
import Layout from '@/layouts/Layout.astro'
import { trimExcerpt } from '@/lib/utils'
import { template } from '@/settings'
import { getCollection } from 'astro:content'

export async function getStaticPaths({ paginate }): Promise<Astro.getStaticPathsResult> {
    const blogEntries = await getCollection("blog");

    const posts = blogEntries
        .map(post => ({
            title: post.data.title,
            date: post.data.date,
            badge: post.data.tags[0],
            excerpt: trimExcerpt(post.data.excerpt),
            slug: `${template.base}/blog/${post.id}`,
        }))
        .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

    return paginate(posts, {
        pageSize: template.postPerPage,
    });
}
const { page } = Astro.props
---

<Layout title='Projects | Rodrigo Nicolau Almeida'>
    <div>
		<h1 class='text-3xl font-bold mb-8'>Projects</h1>
		<div class='grid gap-8'>
			{
				page.data.map(post => (
					<article class='card bg-base-200 transition-all'>
						<div class='card-body'>
							<div class='flex justify-between items-start'>
								<h2 class='card-title text-xl'>
                            <a href={post.slug} class='hover:text-accent'>
										{post.title}
									</a>
								</h2>
								<div class='badge badge-accent badge-outline p-4'>
									{post.badge}
								</div>
							</div>
							<time datetime={post.date} class='text-sm text-base-content/71'>
								{new Date(post.date).toLocaleDateString('en-US', {
									year: 'numeric',
									month: 'long',
									day: 'numeric',
								})}
							</time>
							<p class='mt-4'>{post.excerpt}</p>
							<div class='card-actions justify-end'>
								<a
                            href={post.slug}
									class='btn btn-sm btn-secondary text-secondary-content'
								>
									Read More
								</a>
							</div>
						</div>
					</article>
				))
			}
		</div>

		<div class='flex justify-center mt-8'>
			<Pagination page={page} />
		</div>
    </div>

</Layout>
