---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/cv'
import { news } from '@/data/news'
import ProfilePictures from '@/assets/Profile.jpg'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'
import NewsList from '@/components/ui/NewsList.astro'

const { fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
		/>
	</section>

	<section class='py-12 border-t'>
		<NewsList listTitle='News' listItems={news} ></NewsList>
	</section>

	<!-- Research Areas -->
	 {research_areas.length > 0 &&
	<section class='py-12 border-b'>
		<Grid gridTitle='Research Areas' gridItems={research_areas} />
	</section>
	}
	

	<!-- Recent Publications -->
	<section class='py-12 border-t'>
		<ArticleList listTitle='Recent Publications' listItems={publications} />
	</section>
</Layout>
